Library/
Temp/
.vscode/
obj/
Assets/NatCorder/*
!Assets/NatCorder/README.md
Assets/NatCorder.meta
Assets/NatMic/*
!Assets/NatMic/README.md
Assets/NatMic.meta
Assets/NatCam/*
!Assets/NatCam/README.md
Assets/NatCam.meta
Assets/NatShare/*
!Assets/NatShare/README.md
Assets/NatShare.meta
recording_*