# Unity
Library/
Temp/
obj/

# IDE
.vscode/
.gradle/
.vs/

# NatSuite API's
Assets/NatSuite/Plugins
Assets/NatSuite/Plugins.meta

# External libraries
Assets/NatSuite/Examples/BarcodeDetector/ZXing.NET/*
!Assets/NatSuite/Examples/BarcodeDetector/ZXing.NET/README.md
Assets/NatSuite/Examples/BarcodeDetector/ZXing.NET.meta

# Recordings
recording_*

# Misc
.DS_Store