# Unity
Library/
Temp/
obj/

# IDE
.vscode/
.gradle/
.vs/

# NatCorder
Assets/NatCorder/*
!Assets/NatCorder/README.md
Assets/NatCorder.meta
recording_*

# NatDevice
Assets/NatDevice/*
!Assets/NatDevice/README.md
Assets/NatDevice.meta

# NatReader
Assets/NatReader/*
!Assets/NatReader/README.md
Assets/NatReader.meta

# NatShare
Assets/NatShare/*
!Assets/NatShare/README.md
Assets/NatShare.meta

# External libraries
Assets/Examples/BarcodeDetector/ZXing.NET/*
!Assets/Examples/BarcodeDetector/ZXing.NET/README.md
Assets/Examples/BarcodeDetector/ZXing.NET.meta

# Misc
.DS_Store